# Localhost
# DATABASE_URL="postgresql://admin:secret123@localhost:5432/assetflow?schema=public"

# NeonDB Database URL
DATABASE_URL="your-neondb-database-url"

# Better Auth
BETTER_AUTH_SECRET="b4de6bb4-06a1-47d8-8bf7-db83263a9cdf"
BETTER_AUTH_URL="http://localhost:3000" # for server-side usage
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3000" # for client-side usage

# Google OAuth
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# GitHub OAuth
GITHUB_CLIENT_ID="your-github-client-id"
GITHUB_CLIENT_SECRET="your-github-client-secret"

# LINE OAuth
LINE_CLIENT_ID="your-line-client-id"
LINE_CLIENT_SECRET="your-line-client-secret"